let mapleader = " "

map <leader>wq :wq<CR>

inoremap jk <esc>

nnoremap <leader>r :action renameElement<CR>

nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

" 插件模拟
" surround
set surround
" multiple-cursors
set multiple-cursors
" easyMotion 模拟，额外依赖插件：AceJump,IdeaVim-EasyMotion
set easymotion
" 注释插件模拟
set commentary
